<div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="code" nz-form-item-required>人员代码</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('code')">
                <nz-input [nzSize]="'large'" formControlName="code" [nzId]="'code'" [(ngModel)]="people.code"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">请输入人员代码!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="description" nz-form-item-required>姓名</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('name')">
                <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'" [(ngModel)]="people.name"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">请输入人员姓名!</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label for="roleList">用户角色</label>
            </div>
            <div nz-col nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select [nzMode]="'multiple'" formControlName="roleList" [nzPlaceHolder]="'请选择角色'" [(ngModel)]="selectedRole">
                    <nz-option *ngFor="let role of allRoleList" [nzLabel]="role.name" [nzValue]="role.idBfRole"></nz-option>
                </nz-select>
            </div>
        </div>
    </form>
    <div class="customize-footer">
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeDetail($event)">返 回</button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="savePeople($event)" [nzLoading]="isConfirmLoading">保 存</button>
    </div>
</div>