<nz-layout class="layout">
  <nz-header>
    <h1 style="color:#fff" [routerLink]="['home']">宇宙无敌什么玩意系统</h1>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu [nzOpen]="true">
          <span title>
            <i class="anticon anticon-user"></i>系统管理</span>
          <ul>
            <li nz-menu-item [routerLink]="['dept']">组织架构</li>
            <li nz-menu-item [routerLink]="['role']">角色管理</li>
            <li nz-menu-item>角色权限管理</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="true">
          <span title>
            <i class="anticon anticon-car"></i>理赔管理</span>
          <ul>
            <li nz-menu-item>审核任务</li>
            <li nz-menu-item>xxxx</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="true">
          <span title>
            <i class="anticon anticon-file"></i>文件管理</span>
          <ul>
            <li nz-menu-item>路径管理</li>
            <li nz-menu-item>文件协作</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;" [nzSeparator]="'>'">
        <nz-breadcrumb-item>系统管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>角色管理</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer style="text-align: center;">Copyright by YahaCode Dev Group</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>